extends layout
block content
    div(class="shadow p-3 mb-5 bg-white rounded")
        h1 Confirmado!
        
        p 
            span Você acaba de contribuir para que o usuario
            span=userInd 
            span receba pontos por indicar amigos.
        p Entre no aplicativo, compartilhe para seus amigos e a cada 5 indicações por mês, você ganha 1 mês de acesso básico!