extends layout
block content
    div
        h1 Email Enviado!
        
        p 
            span Um email com o link de alteração de senha foi enviado para 
            span=email            
        p Confira sua caixa de entrada!