extends layout
block content
    h1=empresa
    form(action="",method="POST")
        input(type="hidden", name="empresa", value=idEmpresa)
        //- input(type="hidden", name="dados_recomendacao")
        label Recomendação
        select(class="form-control",name="recomendacao")
            option(value="COMPRA") COMPRA
            option(value="COMPRA") VENDA
            option(value="COMPRA") NEUTRA
        label URL Podcast
        input(type="Text",class="form-control",name="url")
        label Data
        input(type="Text",class="form-control",name="data")
        label Ticker
        input(type="Text",class="form-control",name="ticker")
        label Autor
        input(type="Text",class="form-control",name="disclaimer")
        label Alvo         
        input(type="Text",class="form-control",name="values", id="alvo")
        label Texto
        textarea(name="texto")
        button(class="btn btn-primary", onclick="envia()") salvar
    script.
        CKEDITOR.replace( 'texto' );
        function envia(){
            var bod=$('form').serialize();
            bod+="&dados_recomendacao=[{\"label\":\"alvo\", \"values\":"+$('#alvo').val()+"}]";            
            $.post("./save",bod,function(e){
                    location.reload();
            });
        }
    
    

