extends cdn
block content    
  body
  
    div(style="width:100%; margin:auto",class="shadow p-3 mb-5 bg-white rounded")
      center
        img(src="/images/sopro_logo.PNG",style="width:30%;") 
        div(class="row")
          div(class="col-sm-12")
            a(href="https://soppro.wixsite.com/meusite" class="btn btn-info") Cique e saiba mais
      block content
          
    
