extends layout
block content
    table(class="table")
        thead
            th Data
            th Empresa
            th Publicado
        tbody
        each item in lista
            tr
                td=item.data   
                td=item.empresa
                td=item.publicado

    script $("table").DataTable();