extends layout
block content
    div
        h1 Parabéns!
        p
            span O usuário 
            span=emailUser 
            span  foi inserido com sucesso.
        p Obrigado por se cadastrar!